In [38]:
import pandas as pd
import numpy as np
import json

In [39]:
covid_data = pd.read_csv('covid_data.csv')

In [40]:
covid_data

            date  confirmed  deaths  recovered      country
0      2020-1-22          0       0          0  Afghanistan
1      2020-1-23          0       0          0  Afghanistan
2      2020-1-24          0       0          0  Afghanistan
3      2020-1-25          0       0          0  Afghanistan
4      2020-1-26          0       0          0  Afghanistan
...          ...        ...     ...        ...          ...
23307  2020-5-20          1       0          0      Lesotho
23308  2020-5-21          1       0          0      Lesotho
23309  2020-5-22          2       0          0      Lesotho
23310  2020-5-23          2       0          0      Lesotho
23311  2020-5-24          2       0          0      Lesotho

[23312 rows x 5 columns]

In [41]:
names_covid = covid_data['country'].unique()

In [42]:
countries_data = pd.read_csv('countries_data_preprocessed.csv')

In [43]:
countries_data

,name,longitude,latitude,East Asia & Pacific,Europe & Central Asia,Latin America & Caribbean,Middle East & North Africa,North America,South Asia,Sub-Saharan Africa,income_level
0,Andorra,1.5218,42.5075,0,1,0,0,0,0,0,4
1,United Arab Emirates,54.3705,24.4764,0,0,0,1,0,0,0,4
2,Afghanistan,69.1761,34.5228,0,0,0,0,0,1,0,1
3,Antigua and Barbuda,-61.8456,17.1175,0,0,1,0,0,0,0,4
4,Albania,19.8172,41.3317,0,1,0,0,0,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...
209,Serbia,20.4656,44.8024,0,1,0,0,0,0,0,3
210,South Africa,28.1871,-25.7460,0,0,0,0,0,0,1,3
211,Zambia,28.2937,-15.3982,0,0,0,0,0,0,1,2
212,"Congo, Dem. Rep.",15.3222,-4.3250,0,0,0,0,0,0,1,1
213,Zimbabwe,31.0672,-17.8312,0,0,0,0,0,0,1,2

In [44]:
names_countries = countries_data['name'].unique()

In [45]:
diff_names_covid = np.setdiff1d(names_covid, names_countries)

In [46]:
diff_names_covid

array(['Bahamas', 'Brunei', 'Burma', 'Congo (Brazzaville)',
       'Congo (Kinshasa)', 'Czechia', 'Diamond Princess', 'Egypt',
       'Gambia', 'Holy See', 'India', 'Iran', 'Korea, South',
       'Kyrgyzstan', 'Laos', 'MS Zaandam', 'Russia',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Slovakia', 'Syria', 'Taiwan*',
       'US', 'Venezuela', 'West Bank and Gaza', 'Western Sahara', 'Yemen'],
      dtype=object)

In [47]:
diff_names_countries = np.setdiff1d(names_countries, names_covid)

In [48]:
diff_names_countries

array(['American Samoa', 'Aruba', 'Bahamas, The', 'Bermuda',
       'British Virgin Islands', 'Brunei Darussalam', 'Cayman Islands',
       'Congo, Dem. Rep.', 'Congo, Rep.', 'Czech Republic',
       'Egypt, Arab Rep.', 'Faroe Islands', 'French Polynesia',
       'Gambia, The', 'Greenland', 'Guam', 'Hong Kong SAR, China',
       'Iran, Islamic Rep.', 'Isle of Man', 'Kiribati',
       'Korea, Dem. People’s Rep.', 'Korea, Rep.', 'Kyrgyz Republic',
       'Lao PDR', 'Macao SAR, China', 'Marshall Islands',
       'Micronesia, Fed. Sts.', 'Myanmar', 'Nauru', 'New Caledonia',
       'Northern Mariana Islands', 'Palau', 'Puerto Rico',
       'Russian Federation', 'Samoa', 'Slovak Republic',
       'Solomon Islands', 'St. Kitts and Nevis', 'St. Lucia',
       'St. Vincent and the Grenadines', 'Syrian Arab Republic', 'Tonga',
       'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu',
       'United States', 'Vanuatu', 'Venezuela, RB',
       'Virgin Islands (U.S.)', 'Yemen, Rep.'], dtype=object)

In [49]:
common_names = np.intersect1d(names_covid, names_countries)

In [50]:
common_names

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahrain', 'Bangladesh', 'Barbados',
       'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Central African Republic', 'Chad', 'Chile', 'China',
       'Colombia', 'Comoros', 'Costa Rica', "Cote d'Ivoire", 'Croatia',
       'Cuba', 'Cyprus', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'Ecuador', 'El Salvador',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia',
       'Fiji', 'Finland', 'France', 'Gabon', 'Georgia', 'Germany',
       'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary',
       'Iceland', 'Indonesia', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kosovo',
       'Kuwait', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Liechtenstein', 'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi',
       'Malaysia', 'Maldives', 'Mali', 'Malta', 'Mauritania', 'Mauritius',
       'Mexico', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco',
       'Mozambique', 'Namibia', 'Nepal', 'Netherlands', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia', 'Norway',
       'Oman', 'Pakistan', 'Panama', 'Papua New Guinea', 'Paraguay',
       'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania',
       'Rwanda', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Slovenia', 'Somalia', 'South Africa', 'South Sudan', 'Spain',
       'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland',
       'Tajikistan', 'Tanzania', 'Thailand', 'Timor-Leste', 'Togo',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'Uruguay', 'Uzbekistan',
       'Vietnam', 'Zambia', 'Zimbabwe'], dtype=object)

In [51]:
countries_mapping = {name:name for name in common_names}

In [52]:
countries_mapping['Bahamas, The'] = 'Bahamas'
countries_mapping['Brunei Darussalam'] = 'Brunei'
countries_mapping['Myanmar'] = 'Burma'
countries_mapping['Congo, Rep.'] = 'Congo (Brazzaville)'
countries_mapping['Congo, Dem. Rep.'] = 'Congo (Kinshasa)'
countries_mapping['Czech Republic'] = 'Czechia'
countries_mapping['Egypt, Arab Rep.'] = 'Egypt'
countries_mapping['Gambia, The'] = 'Gambia'
countries_mapping['Iran, Islamic Rep.'] = 'Iran'
countries_mapping['Korea, Rep.'] = 'Korea, South'
countries_mapping['Kyrgyz Republic'] = 'Kyrgyzstan'
countries_mapping['Lao PDR'] = 'Laos'
countries_mapping['Russian Federation'] = 'Russia'
countries_mapping['St. Kitts and Nevis'] = 'Saint Kitts and Nevis'
countries_mapping['St. Lucia'] = 'Saint Lucia'
countries_mapping['St. Vincent and the Grenadines'] = 'Saint Vincent and the Grenadines'
countries_mapping['Slovak Republic'] = 'Slovakia'
countries_mapping['Syrian Arab Republic'] = 'Syria'
countries_mapping['United States'] = 'US'
countries_mapping['Venezuela, RB'] = 'Venezuela'
countries_mapping['Yemen, Rep.'] = 'Yemen'

In [53]:
countries_mapping

{'Afghanistan': 'Afghanistan',
 'Albania': 'Albania',
 'Algeria': 'Algeria',
 'Andorra': 'Andorra',
 'Angola': 'Angola',
 'Antigua and Barbuda': 'Antigua and Barbuda',
 'Argentina': 'Argentina',
 'Armenia': 'Armenia',
 'Australia': 'Australia',
 'Austria': 'Austria',
 'Azerbaijan': 'Azerbaijan',
 'Bahrain': 'Bahrain',
 'Bangladesh': 'Bangladesh',
 'Barbados': 'Barbados',
 'Belarus': 'Belarus',
 'Belgium': 'Belgium',
 'Belize': 'Belize',
 'Benin': 'Benin',
 'Bhutan': 'Bhutan',
 'Bolivia': 'Bolivia',
 'Bosnia and Herzegovina': 'Bosnia and Herzegovina',
 'Botswana': 'Botswana',
 'Brazil': 'Brazil',
 'Bulgaria': 'Bulgaria',
 'Burkina Faso': 'Burkina Faso',
 'Burundi': 'Burundi',
 'Cabo Verde': 'Cabo Verde',
 'Cambodia': 'Cambodia',
 'Cameroon': 'Cameroon',
 'Canada': 'Canada',
 'Central African Republic': 'Central African Republic',
 'Chad': 'Chad',
 'Chile': 'Chile',
 'China': 'China',
 'Colombia': 'Colombia',
 'Comoros': 'Comoros',
 'Costa Rica': 'Costa Rica',
 "Cote d'Ivoire": "Cote d'Ivoire",
 'Croatia': 'Croatia',
 'Cuba': 'Cuba',
 'Cyprus': 'Cyprus',
 'Denmark': 'Denmark',
 'Djibouti': 'Djibouti',
 'Dominica': 'Dominica',
 'Dominican Republic': 'Dominican Republic',
 'Ecuador': 'Ecuador',
 'El Salvador': 'El Salvador',
 'Equatorial Guinea': 'Equatorial Guinea',
 'Eritrea': 'Eritrea',
 'Estonia': 'Estonia',
 'Eswatini': 'Eswatini',
 'Ethiopia': 'Ethiopia',
 'Fiji': 'Fiji',
 'Finland': 'Finland',
 'France': 'France',
 'Gabon': 'Gabon',
 'Georgia': 'Georgia',
 'Germany': 'Germany',
 'Ghana': 'Ghana',
 'Greece': 'Greece',
 'Grenada': 'Grenada',
 'Guatemala': 'Guatemala',
 'Guinea': 'Guinea',
 'Guinea-Bissau': 'Guinea-Bissau',
 'Guyana': 'Guyana',
 'Haiti': 'Haiti',
 'Honduras': 'Honduras',
 'Hungary': 'Hungary',
 'Iceland': 'Iceland',
 'Indonesia': 'Indonesia',
 'Iraq': 'Iraq',
 'Ireland': 'Ireland',
 'Israel': 'Israel',
 'Italy': 'Italy',
 'Jamaica': 'Jamaica',
 'Japan': 'Japan',
 'Jordan': 'Jordan',
 'Kazakhstan': 'Kazakhstan',
 'Kenya': 'Kenya',
 'Kosovo': 'Kosovo',
 'Kuwait': 'Kuwait',
 'Latvia': 'Latvia',
 'Lebanon': 'Lebanon',
 'Lesotho': 'Lesotho',
 'Liberia': 'Liberia',
 'Libya': 'Libya',
 'Liechtenstein': 'Liechtenstein',
 'Lithuania': 'Lithuania',
 'Luxembourg': 'Luxembourg',
 'Madagascar': 'Madagascar',
 'Malawi': 'Malawi',
 'Malaysia': 'Malaysia',
 'Maldives': 'Maldives',
 'Mali': 'Mali',
 'Malta': 'Malta',
 'Mauritania': 'Mauritania',
 'Mauritius': 'Mauritius',
 'Mexico': 'Mexico',
 'Moldova': 'Moldova',
 'Monaco': 'Monaco',
 'Mongolia': 'Mongolia',
 'Montenegro': 'Montenegro',
 'Morocco': 'Morocco',
 'Mozambique': 'Mozambique',
 'Namibia': 'Namibia',
 'Nepal': 'Nepal',
 'Netherlands': 'Netherlands',
 'New Zealand': 'New Zealand',
 'Nicaragua': 'Nicaragua',
 'Niger': 'Niger',
 'Nigeria': 'Nigeria',
 'North Macedonia': 'North Macedonia',
 'Norway': 'Norway',
 'Oman': 'Oman',
 'Pakistan': 'Pakistan',
 'Panama': 'Panama',
 'Papua New Guinea': 'Papua New Guinea',
 'Paraguay': 'Paraguay',
 'Peru': 'Peru',
 'Philippines': 'Philippines',
 'Poland': 'Poland',
 'Portugal': 'Portugal',
 'Qatar': 'Qatar',
 'Romania': 'Romania',
 'Rwanda': 'Rwanda',
 'San Marino': 'San Marino',
 'Sao Tome and Principe': 'Sao Tome and Principe',
 'Saudi Arabia': 'Saudi Arabia',
 'Senegal': 'Senegal',
 'Serbia': 'Serbia',
 'Seychelles': 'Seychelles',
 'Sierra Leone': 'Sierra Leone',
 'Singapore': 'Singapore',
 'Slovenia': 'Slovenia',
 'Somalia': 'Somalia',
 'South Africa': 'South Africa',
 'South Sudan': 'South Sudan',
 'Spain': 'Spain',
 'Sri Lanka': 'Sri Lanka',
 'Sudan': 'Sudan',
 'Suriname': 'Suriname',
 'Sweden': 'Sweden',
 'Switzerland': 'Switzerland',
 'Tajikistan': 'Tajikistan',
 'Tanzania': 'Tanzania',
 'Thailand': 'Thailand',
 'Timor-Leste': 'Timor-Leste',
 'Togo': 'Togo',
 'Trinidad and Tobago': 'Trinidad and Tobago',
 'Tunisia': 'Tunisia',
 'Turkey': 'Turkey',
 'Uganda': 'Uganda',
 'Ukraine': 'Ukraine',
 'United Arab Emirates': 'United Arab Emirates',
 'United Kingdom': 'United Kingdom',
 'Uruguay': 'Uruguay',
 'Uzbekistan': 'Uzbekistan',
 'Vietnam': 'Vietnam',
 'Zambia': 'Zambia',
 'Zimbabwe': 'Zimbabwe',
 'Bahamas, The': 'Bahamas',
 'Brunei Darussalam': 'Brunei',
 'Myanmar': 'Burma',
 'Congo, Rep.': 'Congo (Brazzaville)',
 'Congo, Dem. Rep.': 'Congo (Kinshasa)',
 'Czech Republic': 'Czechia',
 'Egypt, Arab Rep.': 'Egypt',
 'Gambia, The': 'Gambia',
 'Iran, Islamic Rep.': 'Iran',
 'Korea, Rep.': 'Korea, South',
 'Kyrgyz Republic': 'Kyrgyzstan',
 'Lao PDR': 'Laos',
 'Russian Federation': 'Russia',
 'St. Kitts and Nevis': 'Saint Kitts and Nevis',
 'St. Lucia': 'Saint Lucia',
 'St. Vincent and the Grenadines': 'Saint Vincent and the Grenadines',
 'Slovak Republic': 'Slovakia',
 'Syrian Arab Republic': 'Syria',
 'United States': 'US',
 'Venezuela, RB': 'Venezuela',
 'Yemen, Rep.': 'Yemen'}

In [54]:
fh = open('countries_mapping.json', 'w')
json.dump(countries_mapping, fh)
fh.close()