In [149]:
import pandas as pd
import json

In [150]:
date_of_prediction = '2020-5-1'

In [151]:
covid_data = pd.read_csv('covid_data.csv')

In [152]:
covid_data

            date  confirmed  deaths  recovered      country
0      2020-1-22          0       0          0  Afghanistan
1      2020-1-23          0       0          0  Afghanistan
2      2020-1-24          0       0          0  Afghanistan
3      2020-1-25          0       0          0  Afghanistan
4      2020-1-26          0       0          0  Afghanistan
...          ...        ...     ...        ...          ...
23119  2020-5-19          1       0          0      Lesotho
23120  2020-5-20          1       0          0      Lesotho
23121  2020-5-21          1       0          0      Lesotho
23122  2020-5-22          2       0          0      Lesotho
23123  2020-5-23          2       0          0      Lesotho

[23124 rows x 5 columns]

In [153]:
covid_data_on_date_of_prediction = covid_data[covid_data['date'] == date_of_prediction].drop(['date'], axis = 1)

In [154]:
covid_data_on_date_of_prediction

       confirmed  deaths  recovered                country
100         2335      68        310            Afghanistan
223          782      31        488                Albania
346         4154     453       1821                Algeria
469          745      43        468                Andorra
592           30       2         11                 Angola
...          ...     ...        ...                    ...
22609         16       1          4  Sao Tome and Principe
22732          7       2          1                  Yemen
22855          1       0          0                Comoros
22978         15       0          0             Tajikistan
23101          0       0          0                Lesotho

[188 rows x 4 columns]

In [155]:
k_nearest_countries = pd.read_csv('nearest_countries.csv')

In [156]:
k_nearest_countries

                    name
0                Myanmar
1  Virgin Islands (U.S.)
2                   Mali
3             Kazakhstan
4       Papua New Guinea
5               Cambodia

In [157]:
fh = open('countries_mapping.json', 'r')
countries_mapping = json.load(fh)
fh.close()

In [158]:
countries_mapping

{'Afghanistan': 'Afghanistan',
 'Albania': 'Albania',
 'Algeria': 'Algeria',
 'Andorra': 'Andorra',
 'Angola': 'Angola',
 'Antigua and Barbuda': 'Antigua and Barbuda',
 'Argentina': 'Argentina',
 'Armenia': 'Armenia',
 'Australia': 'Australia',
 'Austria': 'Austria',
 'Azerbaijan': 'Azerbaijan',
 'Bahrain': 'Bahrain',
 'Bangladesh': 'Bangladesh',
 'Barbados': 'Barbados',
 'Belarus': 'Belarus',
 'Belgium': 'Belgium',
 'Belize': 'Belize',
 'Benin': 'Benin',
 'Bhutan': 'Bhutan',
 'Bolivia': 'Bolivia',
 'Bosnia and Herzegovina': 'Bosnia and Herzegovina',
 'Botswana': 'Botswana',
 'Brazil': 'Brazil',
 'Bulgaria': 'Bulgaria',
 'Burkina Faso': 'Burkina Faso',
 'Burundi': 'Burundi',
 'Cabo Verde': 'Cabo Verde',
 'Cambodia': 'Cambodia',
 'Cameroon': 'Cameroon',
 'Canada': 'Canada',
 'Central African Republic': 'Central African Republic',
 'Chad': 'Chad',
 'Chile': 'Chile',
 'China': 'China',
 'Colombia': 'Colombia',
 'Comoros': 'Comoros',
 'Costa Rica': 'Costa Rica',
 "Cote d'Ivoire": "Cote d'Ivoire",
 'Croatia': 'Croatia',
 'Cuba': 'Cuba',
 'Cyprus': 'Cyprus',
 'Denmark': 'Denmark',
 'Djibouti': 'Djibouti',
 'Dominica': 'Dominica',
 'Dominican Republic': 'Dominican Republic',
 'Ecuador': 'Ecuador',
 'El Salvador': 'El Salvador',
 'Equatorial Guinea': 'Equatorial Guinea',
 'Eritrea': 'Eritrea',
 'Estonia': 'Estonia',
 'Eswatini': 'Eswatini',
 'Ethiopia': 'Ethiopia',
 'Fiji': 'Fiji',
 'Finland': 'Finland',
 'France': 'France',
 'Gabon': 'Gabon',
 'Georgia': 'Georgia',
 'Germany': 'Germany',
 'Ghana': 'Ghana',
 'Greece': 'Greece',
 'Grenada': 'Grenada',
 'Guatemala': 'Guatemala',
 'Guinea': 'Guinea',
 'Guinea-Bissau': 'Guinea-Bissau',
 'Guyana': 'Guyana',
 'Haiti': 'Haiti',
 'Honduras': 'Honduras',
 'Hungary': 'Hungary',
 'Iceland': 'Iceland',
 'Indonesia': 'Indonesia',
 'Iraq': 'Iraq',
 'Ireland': 'Ireland',
 'Israel': 'Israel',
 'Italy': 'Italy',
 'Jamaica': 'Jamaica',
 'Japan': 'Japan',
 'Jordan': 'Jordan',
 'Kazakhstan': 'Kazakhstan',
 'Kenya': 'Kenya',
 'Kosovo': 'Kosovo',
 'Kuwait': 'Kuwait',
 'Latvia': 'Latvia',
 'Lebanon': 'Lebanon',
 'Lesotho': 'Lesotho',
 'Liberia': 'Liberia',
 'Libya': 'Libya',
 'Liechtenstein': 'Liechtenstein',
 'Lithuania': 'Lithuania',
 'Luxembourg': 'Luxembourg',
 'Madagascar': 'Madagascar',
 'Malawi': 'Malawi',
 'Malaysia': 'Malaysia',
 'Maldives': 'Maldives',
 'Mali': 'Mali',
 'Malta': 'Malta',
 'Mauritania': 'Mauritania',
 'Mauritius': 'Mauritius',
 'Mexico': 'Mexico',
 'Moldova': 'Moldova',
 'Monaco': 'Monaco',
 'Mongolia': 'Mongolia',
 'Montenegro': 'Montenegro',
 'Morocco': 'Morocco',
 'Mozambique': 'Mozambique',
 'Namibia': 'Namibia',
 'Nepal': 'Nepal',
 'Netherlands': 'Netherlands',
 'New Zealand': 'New Zealand',
 'Nicaragua': 'Nicaragua',
 'Niger': 'Niger',
 'Nigeria': 'Nigeria',
 'North Macedonia': 'North Macedonia',
 'Norway': 'Norway',
 'Oman': 'Oman',
 'Pakistan': 'Pakistan',
 'Panama': 'Panama',
 'Papua New Guinea': 'Papua New Guinea',
 'Paraguay': 'Paraguay',
 'Peru': 'Peru',
 'Philippines': 'Philippines',
 'Poland': 'Poland',
 'Portugal': 'Portugal',
 'Qatar': 'Qatar',
 'Romania': 'Romania',
 'Rwanda': 'Rwanda',
 'San Marino': 'San Marino',
 'Sao Tome and Principe': 'Sao Tome and Principe',
 'Saudi Arabia': 'Saudi Arabia',
 'Senegal': 'Senegal',
 'Serbia': 'Serbia',
 'Seychelles': 'Seychelles',
 'Sierra Leone': 'Sierra Leone',
 'Singapore': 'Singapore',
 'Slovenia': 'Slovenia',
 'Somalia': 'Somalia',
 'South Africa': 'South Africa',
 'South Sudan': 'South Sudan',
 'Spain': 'Spain',
 'Sri Lanka': 'Sri Lanka',
 'Sudan': 'Sudan',
 'Suriname': 'Suriname',
 'Sweden': 'Sweden',
 'Switzerland': 'Switzerland',
 'Tajikistan': 'Tajikistan',
 'Tanzania': 'Tanzania',
 'Thailand': 'Thailand',
 'Timor-Leste': 'Timor-Leste',
 'Togo': 'Togo',
 'Trinidad and Tobago': 'Trinidad and Tobago',
 'Tunisia': 'Tunisia',
 'Turkey': 'Turkey',
 'Uganda': 'Uganda',
 'Ukraine': 'Ukraine',
 'United Arab Emirates': 'United Arab Emirates',
 'United Kingdom': 'United Kingdom',
 'Uruguay': 'Uruguay',
 'Uzbekistan': 'Uzbekistan',
 'Vietnam': 'Vietnam',
 'Zambia': 'Zambia',
 'Zimbabwe': 'Zimbabwe',
 'Bahamas, The': 'Bahamas',
 'Brunei Darussalam': 'Brunei',
 'Myanmar': 'Burma',
 'Congo, Rep.': 'Congo (Brazzaville)',
 'Congo, Dem. Rep.': 'Congo (Kinshasa)',
 'Czech Republic': 'Czechia',
 'Egypt, Arab Rep.': 'Egypt',
 'Gambia, The': 'Gambia',
 'Iran, Islamic Rep.': 'Iran',
 'Korea, Rep.': 'Korea, South',
 'Kyrgyz Republic': 'Kyrgyzstan',
 'Lao PDR': 'Laos',
 'Russian Federation': 'Russia',
 'St. Kitts and Nevis': 'Saint Kitts and Nevis',
 'St. Lucia': 'Saint Lucia',
 'St. Vincent and the Grenadines': 'Saint Vincent and the Grenadines',
 'Slovak Republic': 'Slovakia',
 'Syrian Arab Republic': 'Syria',
 'United States': 'US',
 'Venezuela, RB': 'Venezuela',
 'Yemen, Rep.': 'Yemen'}

In [159]:
def map_country_name(row):
    if row['name'] in countries_mapping:
        return countries_mapping[row['name']]
    else:
        return ''

k_nearest_countries_mapped_names = \
    pd.DataFrame(k_nearest_countries.apply(lambda row: map_country_name(row), axis=1), columns=['country'])

In [160]:
k_nearest_countries_mapped_names

            country
0             Burma
1
2              Mali
3        Kazakhstan
4  Papua New Guinea
5          Cambodia

In [161]:
nearest_countries_on_date_of_prediction = pd.merge(k_nearest_countries_mapped_names, covid_data_on_date_of_prediction, on='country')

In [162]:
nearest_countries_on_date_of_prediction

            country  confirmed  deaths  recovered
0             Burma        151       6         31
1              Mali        508      26        196
2        Kazakhstan       3597      25        922
3  Papua New Guinea          8       0          0
4          Cambodia        122       0        120

In [163]:
nearest_countries_on_date_of_prediction.mean()

confirmed    877.2
deaths        11.4
recovered    253.8
dtype: float64

In [164]:
nearest_countries_on_date_of_prediction.median()

confirmed    151.0
deaths         6.0
recovered    120.0
dtype: float64