In [46]:
import pandas as pd

In [47]:
date_of_prediction = '2020-5-1'

In [48]:
covid_data = pd.read_csv('covid_data.csv')

In [49]:
covid_data

            date  confirmed  deaths  recovered      country
0      2020-1-22          0       0          0  Afghanistan
1      2020-1-23          0       0          0  Afghanistan
2      2020-1-24          0       0          0  Afghanistan
3      2020-1-25          0       0          0  Afghanistan
4      2020-1-26          0       0          0  Afghanistan
...          ...        ...     ...        ...          ...
23119  2020-5-19          1       0          0      Lesotho
23120  2020-5-20          1       0          0      Lesotho
23121  2020-5-21          1       0          0      Lesotho
23122  2020-5-22          2       0          0      Lesotho
23123  2020-5-23          2       0          0      Lesotho

[23124 rows x 5 columns]

In [50]:
covid_data_on_date_of_prediction = covid_data[covid_data['date'] == date_of_prediction].drop(['date'], axis = 1)

In [51]:
covid_data_on_date_of_prediction

       confirmed  deaths  recovered                country
100         2335      68        310            Afghanistan
223          782      31        488                Albania
346         4154     453       1821                Algeria
469          745      43        468                Andorra
592           30       2         11                 Angola
...          ...     ...        ...                    ...
22609         16       1          4  Sao Tome and Principe
22732          7       2          1                  Yemen
22855          1       0          0                Comoros
22978         15       0          0             Tajikistan
23101          0       0          0                Lesotho

[188 rows x 4 columns]

In [52]:
k_nearest_neighbors_to_nk = pd.read_csv('nearest_countries_to_nk.csv')

In [53]:
k_nearest_neighbors_to_nk

                    name
0                Myanmar
1  Virgin Islands (U.S.)
2                   Mali
3             Kazakhstan
4       Papua New Guinea
5               Cambodia

In [54]:
countries_mapping = {
    'Myanmar': 'Burma',
    'Virgin Islands (U.S.)': '',
    'Mali': 'Mali',
    'Kazakhstan': 'Kazakhstan',
    'Papua New Guinea': 'Papua New Guinea',
    'Cambodia': 'Cambodia'
}

k_nearest_neighbors_to_nk_mapped_names = \
    pd.DataFrame(k_nearest_neighbors_to_nk.apply(lambda row: countries_mapping[row['name']], axis=1), columns=['country'])
k_nearest_neighbors_to_nk_mapped_names = k_nearest_neighbors_to_nk_mapped_names[k_nearest_neighbors_to_nk_mapped_names['country'] != '']

In [55]:
k_nearest_neighbors_to_nk_mapped_names

            country
0             Burma
2              Mali
3        Kazakhstan
4  Papua New Guinea
5          Cambodia

In [56]:
nearest_countries_on_date_of_prediction = pd.merge(k_nearest_neighbors_to_nk_mapped_names, covid_data_on_date_of_prediction, on='country')

In [57]:
nearest_countries_on_date_of_prediction

            country  confirmed  deaths  recovered
0             Burma        151       6         31
1              Mali        508      26        196
2        Kazakhstan       3597      25        922
3  Papua New Guinea          8       0          0
4          Cambodia        122       0        120

In [58]:
nearest_countries_on_date_of_prediction.mean()

confirmed    877.2
deaths        11.4
recovered    253.8
dtype: float64

In [59]:
nearest_countries_on_date_of_prediction.median()

confirmed    151.0
deaths         6.0
recovered    120.0
dtype: float64